<header class="heder">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
        <a href="#" class="heder-logo__link">
          <img src="../img/logo-img.png" alt="logo-img">
        </a>
        <nav class="d-flex align-items-center">
          <a href="#" class="heder-nav__link active">Home</a>
          <a href="#" class="heder-nav__link">About Us</a>
          <a href="#" class="heder-nav__link">Blog</a>
        </nav>
        <button class="heder-btn__order">Order Now</button>
        <nav class="heder-mobile__menu">
          <button class="heder-button__menu d-block d-md-none">
            <img src="../img/menu.png" alt="">
          </button>
          <div class="heder-menu d-flex d-md-none">
            <div class="menu-block__top">
              <a href="#" class="logo-link">
                <img src="../img/logo-img.png" alt="logo-img">
              </a>
              <button class="btn-close">
                <img src="../img/close.png" alt="close">
              </button>
            </div>
            <button class="heder-btn__order__mobile">Order Now</button>
            <div class="menu-items">
              <a href="#" class="heder-nav__link__mobile active">Home</a>
              <a href="#" class="heder-nav__link__mobile">About Us</a>
              <a href="#" class="heder-nav__link__mobile">Blog</a>
            </div>
          </div>
        </nav>
        <div class="overlley"></div>
    </div>
  </div>
</header>